{
    "stake_currency": "BTC",
    "dry_run": false,
    "exchange": {
        "name": "bittrex",
        "key": "key",
        "secret": "secret",
        "pair_whitelist": [
            "BTC_ETH",
            "BTC_LTC",
            "BTC_ETC",
            "BTC_DASH",
            "BTC_ZEC",
            "BTC_XLM",
            "BTC_NXT",
            "BTC_POWR",
            "BTC_ADA",
            "BTC_XMR"
        ]
    },
    "experimental": {
        "use_sell_signal": false
    },
    "telegram": {
        "enabled": true,
        "token": "token",
        "chat_id": "chat_id"
    },
    "initial_state": "running",
    "internals": {
        "process_throttle_secs": 5
    }
}
